@import "../../variables.scss";

img {
  width: 100%;
  overflow: hidden;
}

.card {
    box-shadow: $box-shadow;
    padding: 0.74em;


  &:hover {
    transform: scale(102%);
    transition: all 0.2s ease-out;
  }

  .card--body {
    padding: 0 0.8em;
    width: 100%;

    .card-text {
      p {
        display: inline-block
      }
    }
    .card--link {
      width: 100%;
      margin-bottom: auto;
    }
  }

}