body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #9CF6F6 , #F3C98B);
  font-family: "Helvetica", sans-serif;
  overflow-y: hidden;
  margin: auto;
}

a {
  text-decoration: none;
}
