@import './variables.scss';

body {
  font-size: 16px;
  font-family: $custom-fonts;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

section {
  min-height: 80vh;
}

a {
  text-decoration: none;

  &:visited {
    color: rgb(35, 35, 35);
  }
}

.container {
  width: 100%;
  padding: 0 1em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 20px;

  > * {
    grid-column: col-start / span 12;
  }

  @media (min-width: 500px) {
    nav {
      grid-column: col-start / span 12;
      grid-row: 1 / 4;
    }
    main {
      grid-column: col-start / span 12;
      grid-row: span 2;
    }

    footer {
      grid: col-start 4 / span 12;
    }
  }

  @media (min-width: 700px) {
  }
}
