
$light: whitesmoke;

//login
$purple: #8E7DBE;
$blue: #416893;


//Coolers
$teal: #9CF6F6;
$gold: #F3c98B;
$biege: #DAA588;
$copper: #C46D5E;
$red: #F56960;


$box-shadow: 1px 1px 10px 3px #00000059;