@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

$custom-fonts: Poppins, Arial, Helvetica, sans-serif;

$light: whitesmoke;
$dark: #333;

//login
$purple: #8e7dbe;
$blue: #416893;
$newblue: #00a1e4;

//Coolers
$teal: #9cf6f6;
$gold: #f3c98b;
$biege: #daa588;
$copper: #c46d5e;
$red: #f56960;
$lime: #89fc00;
$green: #04e762;

$box-shadow: 1px 2px 5px 0 #00000059;
$border-radius: 0.25em;
$padding: 1rem;
