@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #9CF6F6 , #F3C98B);
    font-family: "Helvetica", sans-serif;
    overflow-y: hidden;
    margin: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  .login-options {
    color: #8E7DBE;
    font-family:"times new roman", "Helvetica Neue", Helvetica; 
  }
  .blue {
    color: #416893;
  }
  
  .beige_text {
    color: #DAA588;
  }
  
  #container {
    border-radius: 2%;
    width: 800px;
    box-shadow: 1px 1px 20px 3px #00000059;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    min-height: 550px;
    background-color: whitesmoke;
  }
  
  .overlay_container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
  }
  
  .overlay {
    background-color: #DAA588;
    color: whitesmoke;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  
  .overlay_panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }
  .overlay_left {
    transform: translateY(50%);
    left: 0;
  }
  .overlay_right {
    right: 0;
    transform: translateX(0);
  }
  
  .overlay_button {
    color: whitesmoke;
    border: 1px solid whitesmoke;
    padding: 10px;
    transition: all 0.1s;
    width: 100px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #F56960;
  }
  .overlay_button:hover {
    color: white;
    cursor: pointer;
  }
  
  .overlay_button:active {
    transform: scale(1.1);
  }
  
  .overlay_button:focus {
    outline: none;
  }
  
  .overlay_panel p {
    margin: 0px 0px 40px 0px;
  }
  
  .form_container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.5s ease-in-out;
  }
  
  .sign_in {
    background-color: whitesmoke;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2% 0% 0% 2%;
    text-align: center;
    color: whitesmoke;
    justify-content: center;
    z-index: 2;
  }
  
  .sign_up {
    background-color: whitesmoke;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0% 2% 2% 0%;
    text-align: center;
    opacity: 0;
    z-index: 1;
  }
  
  form {
    display: flex;
    flex-direction: column;
    min-width: 80%;
  }
  
  .social_icons i {
    background-color: white;
    padding: 10px;
    width: 20px;
    border-radius: 50%;
    border: solid 1px lightgrey;
    margin: 5px;
    color: #416893;
    transition: all 0.1s;
  }
  .social_icons i:hover {
    border: solid 1px grey;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  .hello {
    font-size: 2rem;
    margin: 20px 0px 0px 0px !important;
    color: #416893;
  }
  .welcome {
    font-size: 2rem;
    margin: 20px 0px 0px 0px !important;
  }
  
  input[type="text"],
  input[type="password"] {
    height: 30px;
    padding: 0px 0px 0px 40px !important;
    width: 300px;
    color: grey;
  }
  
  .submit {
    justify-content: center;
    display: flex;
  }
  
  .submit input {
    background-color: #416893;
    color: whitesmoke;
    border: 0px;
    padding: 10px;
    transition: all 0.1s;
  }
  
  .submit button:hover {
    background-color: #FFAAEA;
    cursor: pointer;
  }
  
  .submit:active {
    transform: scale(1.1);
  }
  
  .submit:focus {
    outline: none;
  }
  
  input[type="submit"] {
    width: fit-content;
    font-size: 1rem;
    border-radius: 5px;
  }
  
  .icon {
    position: relative;
    padding-bottom: 1rem;
  }
  
  .remember h5 {
    margin: 0px;
    display: flex;
    justify-content: center;
  }
  
  .user i {
    position: absolute;
    left: 15px;
    top: 11px;
    color: gray;
  }
  
  .email i {
    position: absolute;
    left: 15px;
    top: 11px;
    color: gray;
  }
  
  .password i {
    position: absolute;
    left: 17px;
    top: 11px;
    color: gray;
  }
  
  .show {
    left: 310px !important;
  }
  
  .show:hover {
    cursor: pointer;
  }
  
  .show:active {
    transform: scale(1.1);
  }
  
  
  .remember {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .center {
    text-align: center;
    width: 100%;
    height: 100px;
    color: whitesmoke;
    background-color: #416893;
  }
  
  .logout {
    text-decoration: none;
    color: whitesmoke;
    padding-bottom: 10px;
  } 
  
  .logout:hover {
    color:gray;
  }
  
  .logout:active {
    transform: scale(1.1);
  }
  
  .error {
    width: 350px;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  
  .error .blue {
    margin:0px;
  }
  
  h6.grey {
    margin: 1rem;
  }
  
  /* Responsive Styles */
  
  /* Ipad 1024x768 */
  @media all and (max-width: 1024px) and (max-height: 768px) {
  
  body {
    align-items: inherit;
  }
  #container {
    width: 100%;
    border-radius: 0px;
  }
  .sign_in, .sign_up{
    width:50%;
  }
  
  .email i, .password i, .user i , .phone i {
    left: 45px;
  }
  
  .show {
    left: 335px !important;
  }
  
  }
  
  /* Ipad Vertical 768x1024 */
  @media all and (max-width: 768px) and (max-height: 1024px) {
  
    body {
      align-items: inherit;
    }
    #container {
      width: 100%;
      border-radius: 0px;
    }
    .sign_in, .sign_up{
      width:50%;
    }
    
    .email i, .password i, .user i , .phone i {
      left: 15px;
    }
    
    
    .show {
      left: 310px !important;
    }
    
    }
    
      /* Most of the Phones in Vertical */
  @media all and (max-width: 414px) and (max-height: 823px) {
  
    body {
      align-items: inherit;
      overflow-y: inherit;
    }
    #container {
      width: 100%;
      border-radius: 0px;
    }
    .sign_in, .sign_up{
      width:100%;
    }
    
    .email i, .password i, .user i , .phone i {
      right: auto;
    }
    
    
    .show {
      margin-left: 85% !important;
      left: 0px !important;
    }
    .overlay_container {
      left: 0;
      width: 100%;
    
    }
  
    input[type="text"], input[type="password"] {
      width: 85%;
  }
  
  #signInMobile {
  
    display: inline-block;
    margin-top: 1rem;
  }
  
  #container.right-panel-active .sign_in {
    transform: translateX(0%)!important;
  }
  
  #container.right-panel-active .sign_up {
    transform: translateX(0%)!important;
    /* opacity: 0!important;
      z-index: 1 !important; */
  } 
  
  #container.mobile .overlay_container{
      transform: translateX(100%)!important;
  } 
  }
  
  
    /* Most of the Phones in Horizontal */
    @media all and (max-width: 823px) and (max-height: 414px) {
  
      body {
        align-items: inherit;
        overflow-y: inherit;
      }
      #container {
        width: 100%;
        border-radius: 0px;
      }
      .sign_in, .sign_up{
        width:100%;
      }
      
      .email i, .password i, .user i , .phone i {
        right: 0px !important;
        margin-right: 85%!important;
        left: 0px !important;
      }
      
      
      .show {
        margin-left: 85% !important;
        left: 0px !important;
      }
      .overlay_container {
        left: 0;
        width: 100%;
      
      }
  
      .overlay_panel {
        height: 100vh;
      }
    
      input[type="text"], input[type="password"] {
        width: 85%;
    }
    
    #signInMobile {
    
      display: inline-block;
      margin-top: 1rem;
    }
    
    #container.right-panel-active .sign_in {
      transform: translateX(0%)!important;
    }
    
    #container.right-panel-active .sign_up {
      transform: translateX(0%)!important;
      /* opacity: 0!important;
        z-index: 1 !important; */
    } 
    
    #container.mobile .overlay_container{
        transform: translateX(100%)!important;
    } 
    }
  
    
  
  
  /* Animation Styles */
  #container.right-panel-active .overlay {
    transform: translateX(50%);
  }
  
  #container.right-panel-active .overlay_container {
    transform: translateX(-100%);
  }
  
  #container.right-panel-active .sign_in {
    transform: translateX(100%);
  }
  
  #container.right-panel-active .sign_up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 2;
    animation: show 0.6s;
  }
  
  @keyframes show {
    0%,
    49.9940% {
      opacity: 1;
      z-index: 1;
    }
  
    50%,
    100% {
      opacity: 1;
      z-index: 2;
    }
  }
  
  #container.right-panel-active .overlay_left {
    transform: translateX(0);
  }
  #container.right-panel-active .overlay_right {
    transform: translateX(20%);
  }
  