@import "../../variables.scss";
.main-container{
    display: flex;
    flex-direction: row;
    position:relative;
    width:70%;
    height:70%;
    background-color: $copper;
    margin-left: 4px;

    .toy-container{
        display: flex;
        flex-direction: column;

        .image-container {
            max-width:100%;
        
            img{
                max-width:100%;
        
            }
        }
    }
}
.toy-container:hover{
    border-color: $red;
    box-shadow: 0 0 5px; 
}