@import "../variables.scss";

.home {
  min-height: 80vh;

  .hero-image {
    background-image: url("../../public/images/barrett-ward-1qQx3LHaYGg-unsplash.jpg");
    background-repeat: no-repeat;
    height: 120%;
    background-size: cover;
    background-position: center;
    opacity: 0.9;
    position: relative;
  }
}

.container-title {
  padding: 1em;
  margin-right: auto;
  margin-left: 1rem;
  position: absolute;
  top: 15%;

  .title {
    font-size: 5em;
    padding-bottom: 0.3em;
    font-weight: 600;
    // margin-left: -0.2em;
    color: $teal;
    position: relative;

    span {
      color: rgb(191, 243, 69);
    }
    div {
      left: 50%;
    }
  }
  .subtitle {
    font-size: 1.5em;
    font-weight: 300;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
    button {
      margin-right: 2rem;
      align-items: center;
      color: $red;
      border: 1px solid $red;
      padding: 0.5em 0.75em;
      border-radius: $border-radius;
      font-size: 1rem;
      cursor: pointer;
      margin-top: 2rem;
      max-width: 150px;
      &:hover {
        background: $red;
        color: #fff;
      }
    }
  }
}

.recent-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  .recent-card {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 25%));
  }
}

.about-prime-toys {
  height: 20rem;
}
