@import "../variables.scss";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  background-image: url("../../public/images/teddy-bear.jpg");
  background-repeat: no-repeat;
  width: auto;
  background-size: cover;
  opacity: 0.9;
}

.container-title {
  padding: 1em;
  margin-right: auto;
  margin-left: 1rem;
  .title {
    font-size: 5em;
    padding-bottom: 0.3em;
    font-weight: 600;
    // margin-left: -0.2em;
    color: aqua;
    position: relative;

    span {
      color: rgb(191, 243, 69);
    }
    div {
      left: 50%;
    }
  }
  .btn-container {
    display:flex;
    flex-direction: column;
    button {
      margin-right: 2rem;
      align-items: center;
      color: $red;
      border: 1px solid $red;
      padding: 0.5em 0.75em;
      border-radius: $border-radius;
      font-size: 1rem;
      cursor: pointer;
      margin-top: 2rem;
      margin-right: auto;
      margin-left: auto;
      &:hover {
        background: $red;
        color: #fff;
      }
    }
  }
  .subtitle {
    font-size: 1.5em;
    font-weight: 300;
    text-align: center;
  }
}

.recent-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  .recent-card {
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 25%));
  }
}

.about-prime-toys{
  height:20rem;
}