@import "../variables.scss";

// .container {
//   &--card {
//     display: grid;
//     grid-template-columns: 50% 50%;
//     gap: 10px;
//   }
// }

.filter-container {
  margin-right: 2rem;
  min-width: 5rem;
  padding-top: 2rem;
  h2 {
    text-align: center;
  }
  button {
    margin-right: 2rem;
    align-items: center;
    color: $red;
    border: 1px solid $red;
    padding: 0.5em 0.75em;
    border-radius: $border-radius;
    font-size: 1rem;
    cursor: pointer;

    &:active {
      background: $red;
      color: #fff;
    }
  }
}

.card-grid {
  margin: 2em;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  @media (min-width: 980px) {
  }
}

.wrapper {
  &--listings {
    padding-left: 1em;
    padding-right: 1em;

    @media (min-width: 768px) {
      .wrapper--listings {
        padding: 0 1rem;
      }
    }
  }
}
