@import '../variables.scss';

// .container {
//   &--card {
//     display: grid;
//     grid-template-columns: 50% 50%;
//     gap: 10px;
//   }
// }

.card-grid {
  margin: 2em;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  @media (min-width: 980px) {
  }
}

.wrapper {
  &--listings {
    padding-left: 1em;
    padding-right: 1em;
  }
}
