@import "../variables.scss";

.item-detail-container {
  max-width: 1220px;
  margin: 5rem auto;
  box-shadow: $box-shadow;
  background-color: rgb(255, 255, 255);

  .item-detail {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

  }
  .item-image {
    max-width: 30rem;
    min-width: 10rem;
    margin: 2rem;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      max-height: 400px;
      display: block;
      object-fit: cover;
    }
  }
  .item-text {
    max-width: 30rem;
    min-width: 10rem;
    margin: 1.5rem;

    .overview {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;

      h3 {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size:2rem;
      }
      span {
        color: $red;
      }
    }
    p {
      line-height: 1.5;
      margin: 15px 0;
    }
  }
}

.toy-btn-container {
    position:relative;
    bottom:0;

  .trade-btn {
    &:hover {
      background: $light;
      color: $red;
      border: 1px solid $red;
    }
  }
}
