@import '../../variables.scss';

.navbar {
  display: flex;
  font-size: 1em;
  font-family: $custom-fonts;
  padding: 1rem 0;
  z-index: 1;
  border: 2px solid $blue;

  .title-container {
    padding: 0.5rem;
    border-radius: 5px;

    .header-title {
      font-size: 2em;
      font-weight: 500;
    }
  }

  .nav--items {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: auto 0;
    margin-left: auto;

    li {
      display: inline-block;
      border: 1px dashed white;
      color: black;
      vertical-align: middle;
      padding-right: 0.8em;

      a {
        font-size: 1.5em;
      }
    }
  }
}

// @media screen and (min-width: 600px) {
//   .navbar {
//
//     justify-content: space-around;
//     // background-color: linear-gradient(to right,$copper,$red)
//   }
// }

li:hover {
  text-decoration: underline;
  color: $purple;
  background: white;
}
